{% extends 'tasks/base.html' %}

{% block content %}

<h2 class="mb-4">Kategorie</h2>

<div class="row">

    <div class="col-md-4">
        <div class="card p-3 shadow-sm mb-3">
            <h5>Studia</h5>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow-sm mb-3">
            <h5>Praca</h5>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow-sm mb-3">
            <h5>Dom</h5>
        </div>
    </div>

</div>

{% endblock %}