{% extends "tasks/base.html" %}

{% block content %}

<h2 class="mb-4">Edytuj zadanie</h2>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>

    <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>

    <div class="mb-3">
        {{ form.category.label_tag }}
        {{ form.category }}
    </div>

    <div class="mb-3">
        {{ form.status.label_tag }}
        {{ form.status }}
    </div>

    <div class="mb-3">
        {{ form.priority.label_tag }}
        {{ form.priority }}
    </div>

    <div class="mb-3">
        {{ form.due_date.label_tag }}
        {{ form.due_date }}
    </div>

    <button class="btn btn-success">
        Zapisz zmiany
    </button>

    <a href="{% url 'task_detail' task.id %}" class="btn btn-secondary">
        Anuluj
    </a>

</form>

{% endblock %}