{% extends 'tasks/base.html' %}

{% block content %}

<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        Szczegóły zadania
    </div>

    <div class="card-body">
        <h4>Przygotować projekt Django</h4>
        <p class="text-muted">Opis zadania...</p>

        <p><strong>Status:</strong> Do zrobienia</p>
        <p><strong>Priorytet:</strong> Wysoki</p>
        <p><strong>Kategoria:</strong> Studia</p>
        <p><strong>Termin:</strong> 2026-05-01</p>
    </div>
</div>

{% endblock %}